@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    @apply font-sans;
  }
  h1, h2, h3, h4, h5, h6{
    @apply font-bold;
  }
}

@layer components{
  .btn{
    @apply rounded-none py-2.5 px-5 h-auto min-h-8 text-base inline-flex;
  }
  .btn-primary{
    @apply bg-primary text-white hover:bg-black;
  }
}
